{% extends 'base.html.twig' %}

{% block title %}Personne{% endblock %}

{% block body %}
    <div class="p-10  ">
        <!--Card 1-->
        <div class="max-w-sm mx-auto rounded overflow-hidden shadow-lg">
            <div id="" class="aspect-w-4 aspect-h-4">
                <img src="{{ personne.img }}" alt="" class=" object-cover shadow-lg rounded-lg">
            </div>
            <div class="px-6 py-4 bg-white">
                <div class="font-bold text-xl mb-2">{{ personne.nom }} {{ personne.prenom }}</div>
                <p class="text-gray-700 text-base">
                    <i class="fas fa-venus-mars"></i> {{ personne.sexe.nom }}
                </p>
                <p class="text-gray-700 text-base">
                    <i class="fas fa-calendar-alt"></i> {{ personne.dateNaissance | date('d M Y') }}
                </p>
                <p class="text-gray-700 text-base">
                    <i class="fas fa-at"></i> {{ personne.email }}
                </p>
                <p class="text-gray-700 text-base">
                    <i class="fas fa-mobile-alt"></i> {{ personne.numeroPortable }}
                </p>
                <p class="text-gray-700 text-base">
                    <i class="fas fa-phone"></i> {{ personne.numeroFixe }}
                </p>

            </div>
        </div>
    </div>
{% endblock %}
